#root{
  font-family: "BioRhyme", serif;
  
}

body{
  background-color: #f9fafd;
  background-image: linear-gradient(100deg, #f9fafd 0%, #dcd0fb 100%);
  display: flex;
  flex-direction: column;

}

.pagPrinc{
  flex-grow: 1;
}

.Nav-link{
  color:#d09ee6;
}

.Nav-link:hover {
  color: rgb(255, 255, 255);
  text-shadow: 0 0 5px rgb(95, 26, 133), 0 0 10px rgb(95, 26, 133), 0 0 15px rgb(95, 26, 133);
}

.contenedorBienvenida{
  background: linear-gradient(135deg, #8e44ad, #341f97);
  color: #fff; 
  filter: saturate(130%);
}



.colorTexto{
 color: rgb(110, 15, 198);
}



.misProyectos{
  color: #24044e;
  text-shadow: 2px 2px 4px rgb(95, 26, 133), 0 0 10px rgb(95, 26, 133), 0 0 15px rgb(95, 26, 133);
}


.perfilLogo{
  width: 350px;
  margin-top: 5em;
  margin-left: 3em;
}
.iconoMongo{
  width: 19px;
}


.logoBanner{
  width: 300px;
  mask-image: linear-gradient(
    rgb(48, 4, 72) 50%,
    transparent
  );
}

.bienvenida h1 {
  font-size: 50px ;
}

.bienvenida{
  color: rgb(223, 212, 229);
  text-shadow: 0 0 5px rgb(95, 26, 133), 0 0 10px rgb(95, 26, 133), 0 0 15px rgb(95, 26, 133);
}



.cardPagina{
  box-shadow:  0 0 5px rgb(95, 26, 133), 0 0 10px rgb(95, 26, 133), 0 0 15px rgb(95, 26, 133);
}


.cardPagina {
  transition: transform 0.3s ease; 
}

.cardPagina:hover {
  transform: scale(1.05); 
}

.imagenCard{
  height: 30vh;
}

.botonVer{
  display: none;
}

.skills {
  text-align: center;
  background: linear-gradient(135deg, #8e4cab, #514196); 
  color: #fff; 
  filter: saturate(130%);
  padding: 2em;
 
}

.skills h2{
  color: #ffffff;
  margin-bottom: 1em;
  text-shadow: 2px 2px 4px rgb(95, 26, 133), 0 0 10px rgb(95, 26, 133), 0 0 15px rgb(95, 26, 133);
}

.skills p {
  font-size: 18px;
  
}
.skills-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 1em;
  
}

.skills-category {
  margin: 20px;
  width: 200px;
  
}

.skills-category h3 {
  font-size: 1.5em;
  margin-bottom: 15px;
  
}

.skills-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.skill-item {
  display: flex;
  align-items: center;
  margin: 10px 0;
  transition: transform 0.3s, background-color 0.3s;
}

.skill-item:hover {
  transform: scale(1.1);
  color: #49089f;
}

.skill-item span {
  margin-left: 10px;
  font-size: 1.2em;
}


.sobreMi {
  padding: 50px 20px;
  text-align: center;

}

.sobreMi-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 800px;
  margin: 0 auto;
}

.sobreMi-imagen img {
  width: 250px;
  height: 250px;
  object-fit: cover;
  margin-bottom: 20px;
}

.sobreMi-contenido {
  text-align: left;
}

.sobreMi-contenido h2 {
  font-size: 2em;
  margin-bottom: 20px;
}

.sobreMi-contenido p {
  font-size: 1.2em;
  line-height: 1.6;
  margin-bottom: 10px;
}

.contenedorContacto{
  background: linear-gradient(135deg, #8e4cab, #514196); 
  color: #fff; 
  filter: saturate(130%);
}
.contact {
  padding: 50px 20px;
  text-align: center;
  
}

.contact h2 {
  font-size: 2em;
  margin-bottom: 20px;
}

.contact p {
  font-size: 1.2em;
  margin-bottom: 20px;
}

.contact form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact input,
.contact textarea {
  width: 100%;
  padding: 10px;

}

.contact Button {

  padding: 10px 20px;
  background-color: #000000;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.contact Button:hover {
  background-color: #260c41;
}

a{
  text-decoration: none;
  color: #23063f;
  text-shadow: 2px 2px 4px rgb(95, 26, 133), 0 0 10px rgb(95, 26, 133), 0 0 15px rgb(95, 26, 133);
}

a:hover{
 color: #0e011b;
}

.highlight {
  color: #754cde;
  font-weight: bold;
}
.hobbies, .education {
  list-style: none;
  padding: 0;
}
.hobbies li, .education li {
  margin: 10px 0;
}
.hobbies li i, .education li i {
  color: #754cde;
  margin-right: 10px;
}

#contenedorError {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  margin-top: 3em;
  margin-bottom: 10em;
  text-align: center;
}

#contenedorError img {
  padding: 3em;
  max-height: 500px;
}



.btn-dark:hover{
  background-color: #641cb0;
}
.btn-dark {
  width: 140px;
 font-size: 20px;
  height: 45px;
  background-color: #23063f;
  border-color: #754cde;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}






@media all and (min-width: 300px) and (max-width: 991px) {
  .logoBanner{
    width: 120px;
    margin-top: 2em;
  
  }
  .bannerPrincipal {
    height: 60vh;
  }

  .bienvenida h1 {
    font-size: 20px ;
    padding: 0.5em;
    text-align: center;
    margin-bottom: 0;
    margin-top: 1em;
  }
  .bienvenida h2 {
    text-align: center;
    padding: 1em;
    font-size: 15px;
  }
  .bienvenida p{
    display:none;
  }

  .botonVer{
    margin:0 auto;
    margin-top: 1em;
    display: inline;
  }
  .sobreMi-container {
    flex-direction: column;
    text-align: left;
  }
  .sobreMi-imagen img {
    width: 200px;
    height: 200px;
    margin-bottom: 2em;
  }

  .sobreMi-contenido {
    flex: 2;
  }
  

}
